<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="flex justify-between">
      <h1>Add New Message</h1>
      <a href="./">Go Back</a>
    </div>
    <form method="POST" action="/new">
      <label>
        Author's Name
        <input
          type="text"
          placeholder="Author's Name"
          name="authorName"
          required
        />
      </label>
      <label>
        Message
        <input type="text" placeholder="Message" name="messageText" required />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
