body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

div.message {
  border: 1px solid black;
  padding: 4px 8px;
  margin: 16px 0;
}

div.message-data {
  display: flex;
  justify-content: space-between;
}
